// Nextflow config for Conda environments
profiles {
  conda {
    params.enable_conda = true
  }
}
conda {
  enabled = true
  useMamba = true
}
process {
  withLabel: 'dorado basecall' {
    conda = "envs/dorado_basecall.yml"
  }
  withLabel: 'guppy basecall' {
    conda = "envs/guppy_basecall.yml"
  }
  withLabel: 'fastqc' {
    conda = "envs/fastqc.yml"
  }
  withLabel: 'multiqc' {
    conda = "envs/multiqc.yml"
  }
  withLabel: 'filtlong' {
    conda = "envs/filtlong.yml"
  }
  withLabel: 'assembly' {
    conda = "envs/assembly.yml"
  }
  withLabel: 'quast' {
    conda = "envs/quast.yml"
  }
  withLabel: 'medaka' {
    conda = "envs/medaka.yml"
  }
  withLabel: 'nanoplot' {
    conda = "envs/nanoplot.yml"
  }
  withLabel: 'fastani' {
    conda = "envs/fastani.yml"
  }
  withLabel: 'gtdbtyper' {
    conda = "envs/gtdbtyper.yml"
  }
  withLabel: 'amr_plm' {
    conda = "envs/amr_plm.yml"
  }
  withLabel: 'amr_abrformat' {
    conda = "envs/amr_abrformat.yml"
  }
  withLabel: 'mobtyper' {
    conda = "envs/mobtyper.yml"
  }
  withLabel: 'amrfinderplus' {
    conda = "envs/amrfinderplus.yml"
  }
  withLabel: 'mlst' {
    conda = "envs/mlst.yml"
  }
  withLabel: 'prokka' {
    conda = "envs/prokka.yml"
  }
  withLabel: 'roary' {
    conda = "envs/roary.yml"
  }
  withLabel: 'phylogeny' {
    conda = "envs/phylogeny.yml"
  }
  withLabel: 'kraken2' {
    conda = "envs/kraken2.yml"
  }
  withLabel: 'count_bases' {
    conda = "envs/count_bases.yml"
  }
  withLabel: 'genome_depth' {
    conda = "envs/genome_depth.yml"
  }
  withLabel: 'summary_blastn' {
    conda = "envs/summary_blastn.yml"
  }
  withLabel: 'iqtree' {
    conda = "envs/iqtree.yml"
  }
  withLabel: 'raxml' {
    conda = "envs/raxml.yml"
  }
}
